body {
  margin: 0px;
  padding: 0px;
  background-color: #0066b2;
  font-family: Roboto;
}

#canvas {
  background-color: #0066b2;
  border-radius: 5px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
